<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <DBID>ubis</DBID>
  <DBPW>ubis1234</DBPW>
  <DBDataSource>solsdb</DBDataSource>
  <서버ID>0</서버ID>
  <IP>127.0.0.1</IP>
  <PORT>17000</PORT>
  <IP_PS>127.0.0.1</IP_PS>
  <PORT_PS>45000</PORT_PS>
  <PS_SERVERID>0</PS_SERVERID>
  <DB로딩주기_시간>2</DB로딩주기_시간>
</Config>